<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1> Mon super site de gossip, du dossier views ! </h1>
	<p> salut maurice</p>
	<p> la liste des potins arrive bientôt ! </p>
	<ul>
		<li><a href="/gossips/new/">-> Créa de ragot c'est ici !</a></li>
	</ul>


</body>
</html>