<!DOCTYPE html>
<html>
<head>
	<title>Créer un potin</title>
</head>
<body>
	<h1>Créer un potin !</h1>
	<p>Balance ta bile via le formulaire ci-dessous</p>
	<form action='/gossips/new/' method='POST'>
  Balance ton nom charogne:<br>
  <input type="text" name="gossip_author"><br>
  Met ton ragot ici:<br>
  <input type="text" name="gossip_content">
  <imput type='submit'/>
</form>

</body>
</html>